/* ============================
LANDING SECTION OF INDEX.HTML
============================== */

.landing {
  position: relative;
  width: 100%;
  background-color: $primary-color;
  z-index: 1;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.landing h1 {
  position: relative;
  font-size: 3rem;
  padding-top: 50px;
  padding-bottom: 1rem;
  color: $light;
  text-align: center;
}

.landing span {
  display: block;
  color: $light;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding-bottom: 2rem;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.landing p {
  color: $light;
  opacity: 0.9;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 14px;
  font-weight: 200;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.landing .btn {
  text-align: center;
}

.btnlink:hover {
  cursor: pointer;
  transform: scale(1.06);
}

.landing .btnlink {
  display: inline-flex;
  background: linear-gradient(#9aedde, $primary-color);
  -webkit-text-fill-color: $light;
  box-shadow: 0px 4px 10px -4px $shadow;
  border-radius: 15px;
  padding: 13px;
  transition: 0.5s;
  text-decoration: none;
}

/* ==========================
  WHO WE ARE SECTION OF INDEX.HTML
  ============================*/

.whoweare {
  margin-top: 4rem;
  color: #6f6f6f;
  &::after {
    content: '';
    display: block;
    border: 0.5px solid #d5d5d58e;
    width: 50%;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 70%;
      max-width: 900px;
    }
  }
}

.whoweare h2 {
  text-align: center;
  color: $secondary-color;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.whoweare p {
  text-align: center;
  padding-top: 3rem;
  font-weight: 200;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.whoweare .pairprogramming {
  height: 200px;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 8rem;
  @media screen and (min-width: 768px) {
    height: 300px;
  }
}

/*==========================
  CEOQUOTE SECTION OF INDEX.HTML
  ===========================*/

.ceoquote {
  margin-top: 8rem;
  .wrapper {
    max-width: 600px;
    padding: unset;
    margin: 0 auto;
  }
}

.ceoquote .quote {
  display: block;
  margin: 0 auto;
  fill: $primary-color;
  width: 60px;
  @media screen and (min-width: 768px) {
    width: 80px;
  }
}

.ceoquote span {
  display: block;
  text-align: center;
  padding-top: 2rem;
  font-weight: 200;
  width: 80%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 100%;
    font-size: 1.3rem;
  }
}

.ceoquote span::after {
  content: '- author, CEO of DevCenter';
  display: block;
  color: #6f6f6f;
  opacity: 0.6;
  text-align: right;
  padding-top: 1rem;
  padding-right: 2rem;
  font-style: italic;
  font-size: 0.8rem;
  @media screen and (min-width: 768px) {
    font-size: 1.1rem;
  }
}

/*===========================
  PARTNERS SECTION OF INDEX.HTML
  ============================*/

.partners {
  margin-top: 8rem;
  background-color: $primary-color;
  color: $light;
  padding-bottom: 1rem;
}

.partners h3 {
  display: block;
  text-align: center;
  padding-top: 3rem;
  font-weight: 400;
  opacity: 0.7;
}

.partners .brands {
  display: grid;
  grid-template-columns: repeat(2, 88px);
  justify-content: space-evenly;
  align-items: center;
  grid-gap: 64px 32px;
  margin: 0 auto;
  padding: 3rem 0;
  opacity: 0.6;
  @media screen and (min-width: 568px) {
    grid-template-columns: repeat(3, 88px);
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(5, 90px);
    max-width: 1000px;
  }
}

.partners .brands div {
  justify-self: center;
  align-self: center;
}

.twitter {
  height: 100%;
}

.partners .brands img {
  min-width: 77px;
  max-width: 100%;
}

/* =========================
  QUOTES SECTION OF INDEX.HTML
  ===========================*/

.quotes {
  margin: 4rem 0;
}

.quotes .quoteflex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.quotes .quotecontainer {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 190px;
  max-width: 400px;
  width: 100%;
  background-color: $light;
  border-radius: 0 0 15px 15px;
  margin: 1rem;
  z-index: -1;
  box-shadow: 0px 4px 10px -4px $shadow;
  border-top: 6px solid $secondary-color;
}

.quotes .profile-quote {
  position: absolute;
  fill: $secondary-color;
  height: 40px;
  left: 0.5rem;
  top: 0.5rem;
}

.quotes p {
  position: relative;
  padding: 0 2rem;
  justify-self: center;
  align-self: center;
  font-weight: 200;
  color: $secondary-color;
}

.quotes .quotecontainer .profile-img {
  position: absolute;
  bottom: 10px;
  right: 1rem;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid $secondary-color;
}

.quotes .quotecontainer .profile-name {
  position: absolute;
  font-size: 14px;
  bottom: 22px;
  right: 70px;
  color: $secondary-color;
  opacity: 0.8;
}
