*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
}
body {
  min-height: 100%;
  @media screen and (min-width: 768px) {
    font-size: 17px;
  }
}
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

p,
span {
  line-height: 1.3;
}

.preload {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/*  ============================
PADDING WRAPPERS THROUGHOUT SITE
==============================*/

.wrapper {
  padding: 0rem 2rem;
  @media screen and (min-width: 768px) {
    padding: unset;
    width: 90%;
    margin: 0 auto;
  }
}

.wrapper-half {
  padding: 0rem 0.5rem;
  @media screen and (min-width: 768px) {
    padding: unset;
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
  }
}
