@import "variables";
@import "reset";

nav {
  position: fixed;
  background-color: $primary-color;
  top: 0;
  left: 0;
  right: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin: 0 auto;
}

.padding-container {
  width: 100%;
}

#brand {
  width: 175px;
  height: 100%;
  margin-left: 0.5rem;
}

.menu-list {
  display: none;
}

.menu-icon {
  position: relative;
  height: 100%;
  width: 40px;
  display: inline-block;
  margin-right: 1rem;
  z-index: 100;
}

.menu-line1 {
  position: fixed;
  top: 1.7rem;
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 25px;
}

.menu-line2 {
  position: fixed;
  top: 2.2rem;
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 25px;
}

.slidein-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $primary-color;
  z-index: 0;
  transform: translateX(100%);
}

.slidein-menu ul {
  position: absolute;
  text-align: right;
  list-style-type: none;
  right: 2rem;
  top: 6rem;
}

.slidein-menu ul li {
  font-size: 2rem;
  color: #fff;
  margin-top: 2rem;
}

.landing {
  position: relative;
  width: 100%;
  background-color: $primary-color;
  z-index: -3;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.wrapper {
  padding: 0rem 2rem;
}

.landing h2 {
  position: relative;
  font-size: 3rem;
  padding-top: 50px;
  padding-bottom: 1rem;
  color: #fff;
  text-align: center;
}

.landing span {
  display: block;
  color: #fff;
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  padding-bottom: 2rem;
}

.landing p {
  color: #fff;
  text-align: center;
  padding-bottom: 2rem;
}

.landing button {
  all: unset;
  display: block;
  background: linear-gradient(#9aedde, $primary-color);
  -webkit-text-fill-color: #fff;
  box-shadow: 0px 6px 18px -7px;
  border-radius: 15px;
  padding: 13px;
  margin: 0 auto;
  cursor: pointer;
}

.whoweare {
  margin-top: 4rem;
  color: #6f6f6f;
}

.whoweare h2 {
  text-align: center;
  color: $secondary-color;
}

.whoweare p {
  text-align: center;
  padding-top: 3rem;
  font-size: 1.2rem;
  font-weight: 200;
}

.whoweare .pairprogramming {
  display: block;
  height: 200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
}

.ceoquote {
  margin-top: 8rem;
}

.ceoquote .quote {
  display: block;
  margin: 0 auto;
  fill: $primary-color;
  width: 80px;
}

.ceoquote span {
  display: block;
  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.ceoquote span::after {
  content: "- author, CEO";
  display: block;
  font-size: 1.1rem;
  text-align: right;
  padding-top: 1rem;
  padding-right: 2rem;
  font-style: italic;
}

.partners {
  margin-top: 8rem;
  background-color: $primary-color;
  color: #fff;
  padding-bottom: 4rem;
}

.partners h2 {
  display: block;
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
}

.partners .brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.partners .pepsico {
  width: 46%;
}

.partners .amazon {
  height: 100px;
  width: 46%;
  fill: #fff;
}

.partners .paypal {
  width: 46%;
  fill: #fff;
  height: 90px;
  margin-top: 3rem;
}

.partners .chase {
  width: 46%;
  margin-top: 4rem;
}

.partners .hulu {
  width: 46%;
  margin-top: 3rem;
}

.partners .toyota {
  width: 46%;
  margin-top: 4rem;
}

.partners .ge {
  width: 46%;
  margin-top: 4rem;
}

.partners .apple {
  width: 46%;
  height: 120px;
  fill: #fff;
  margin-top: 3rem;
}

.quotes {
  margin: 4rem 0;
}

.quotes .quoteflex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.quotes .quotecontainer {
  position: relative;
  height: 180px;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  background-color: #7bddc9cd;
  margin-top: 2rem;
  z-index: -1;
}

.quotes .profile-quote {
  position: absolute;
  fill: $secondary-color;
  height: 40px;
  left: 0.5rem;
  top: 0.5rem;
}

.quotes p {
  position: relative;
  padding: 2rem;
  top: 30px;
  color: #fff;
  // padding: 65px 1rem;
}

.quotes .quotecontainer .profile-img {
  position: absolute;
  bottom: 10px;
  right: 1rem;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #fff;
}

.quotes .quotecontainer .profile-name {
  position: absolute;
  font-size: 14px;
  bottom: 22px;
  right: 70px;
  color: #fff;
}
